@charset "utf-8";
@media screen and (min-width: 768px) {

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
}



img {
    border: none;
    display: block;
    max-width: 100%;
    height: auto;
}


header {
    width: 100%;
    position: fixed;
}

#headerInner {
    
}
/*hg*/
.menu {
    width: 71px;
    height: 33px;
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 30px;
    display: none;
}


.menu__line {
    background-color: #333;
    height: 2px;
    display: block;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}

.menu__line--center {
    top: 15px;
}

.menu__line--bottom {
    bottom: 0;
}

.menu__line--top.active {
    top: 9px;
    transform: rotate(45deg);
}
.menu__line--center.active {
    transform:scaleX(0);
}
.menu__line--bottom.active {
    transform: rotate(135deg);
    bottom: 22px;
}

/*gnavi*/


#headerNavi1 {
    width: 468px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    padding: 70px 0 180px 0;
    font-family: HGS明朝B;
    
    
}

    #headerInner {
        display: none;
    }    
    
    
    
.gnav__inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.gnavi__menu--item {
    float: left;
    padding: 0 30px 0 0;
}


.gnavi__menu--item a {
    color: #222;
    font-size: 2.4em;
    text-decoration: none;
    
    
    
}

.gnavi__menu--item:nth-child(4) {
        padding: 0;
    }   
    
.gnavi__menu--item a:hover {
    
    border-top: 5px solid;
}


.gnav__menu {
    
}
#first {
width: 100%;
background-repeat: no-repeat;
background-position: center center;
height: auto;
overflow: hidden;
clear: both;
background: linear-gradient(45deg, #6cb8ff, #bdeefe, #bdfee0,#d2bdfe);   
animation: AnimationName 9s ease infinite;
background-size: 300% 300%;
    
    }

@keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
    
    
    
    
    
    
    
    
    
    
    
    #first figure {
        
    }    
    
#mainbj {
    width: 672px;
    margin-right: auto;
    margin-left: auto;
    padding: 180px 0 0 0;
}

#mainbj figure {
    
}

#mainbj img {
    
}
#mainbj span {
    font-size: 30px;
    font-family: HGS明朝B;
    color: #635757;
    text-align: center;
    display: block;
}

#mainbj h1 {
    
    font-weight: normal;
    color: #222;
    text-align: center;
}

    

    
    
#about {
width: 100%;
height: 940px;
margin: 0 0 100px 0;
clear: both;
overflow: hidden;
background-color: #f2f2f2;
background-image: url("images/pc_back.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


    
    
#aboutInner {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 34px;
    
}

.midashi {
    text-align: center;
    font-family: 小塚ゴシックPro;
    font-size: 22px;
    color: #222; 
    font-weight: bold;
}

.midashi h2 {
    line-height: 47px;
    color: #2b76bc;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: normal;
}

.midashi h3 {
    font-size: 22px;
    color: #222;
    font-family:  HGP明朝B;
}


#aboutmain {
    margin-top: 103px;
    width: 100%;   
}

#toptext {
    font-size: 16px;
    margin-bottom: 100px;    
    
}

#plofile {
    
}


#plofile figure {
    width: 260px;
    float: left;
}


#plofile img {
    
}

#rightText {
   float: right;
   margin-right: 75px;
   font-size: 16px;    
}




#rightText li {
   margin-bottom: 10px;    
}

#rightText li span {
   font-weight: bold;
   display: inline-block;
   width: 130px;
    
}
#rightText ul #try {
   margin: 0;
}

#sns3 {
   margin-top: 40px;
}

    .hosoku {
        font-weight: bold;
    }

/*mainbijual&footer*/    
@keyframes Loop2 {
    0% {
        transform:  translateX(0);
    }   
    
    to {
        transform: translateX(-200%);
    }    
    }    

    
    .animation {
        animation-name: animation-bgiLoop;
    }   
    
    @keyframes bgiLoop {
  0% {background-position: 0 0;}
  100% {background-position: -381px 212px;}
    }
    
    
    
#works {
   width: 100%;
   clear: both;
   margin: 100px 0 100px 0;
   overflow: hidden;
   background-color: #f2f2f2; 
   height: 568px; 
    
    
    
}


    
  
 
    

        
    
    

    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    
    
    
#worksInner {
   width: 860px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 34px;
}


#sakuhinsyu {
   
   width: 100%;
   padding: 100px 0 100px 0;
}


#sakuhinsyu li {
   float: left;
   display: block;
   width: 270px;
   margin-right: 25px;
   position: relative;
   padding-bottom: 36px;
}

#sakuhinsyu a {
    
}

    
    #sakuhinsyu img {
        width: 100%;
    }    
    
#sakuhinsyu p {
   background: #48a5d3;
   width: 250px;
   height: 150px;
    
}

#sakuhinsyu h2 {
   position: absolute;
   top: 66px;
   left: 16%;
   color: #fff;
   font-size: 22px;
   font-family: HGP明朝E;    
    
    
    
    
}

#sakuhinsyu li:nth-child(3) {
    margin: 0;
}

#sakuhinsyu li:nth-child(6) {
    margin: 0;
}

#sakuhinsyu h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
}

#sakuhinsyu span:nth-child(1) {
    font-weight: bold;
}


#skill {
    clear: both;
    width: 100%;
}

#skillInner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#skillMain {
    margin-top: 65px; 
}

.skills {
    margin-bottom: 100px;  
}

.skillIcon {
    display: block;
    width: 100px;
    height: auto;
    float: left;
}

.skills2 {
    width: 685px;
}


.skillmidashi {
    padding-left: 20px;
    overflow: hidden;
    
}

.skillmidashi span {
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.skills p {

    font-size: 16px;
    font-weight: normal;
    clear: both;
    width: 100%;
    margin-left: 121px;
}

  
    
    
    

#contact {
    width: 100%;
}

#contactInner {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

   
    
    
    
    
    
.contact_button {
     display: block;
border-radius: 16px;
background: #3e85ff;
background: linear-gradient(-45deg, #3e85ff 45%,#64a0ff 74%,#39d6eb 94%);
width: 240px;
box-shadow: 0 2px 4px 0 rgba(51, 124, 255, 0.6);
margin-left: auto;
margin-right: auto;
text-decoration: none;
margin-top: 40px;
color: #fff;
position: relative;
height: 42px;
    } 
 
  
    
    
    
    
 .contact_button::before {
content: "";
display: block;
position: absolute;
width: 0px;
height: 0px;
margin: auto;
left: 2px;
top: 2px;
bottom: 2px;
right: 2px;
border-radius: 16px;
transition: ease-out all .2s;
background-color: #fff;
z-index: 0;
    }
 
    .contact_button:hover::before {
        width: 234px;
        height: 38px;
        
    }  
    
    
    
    
  .contact_button::after {  
     clear: both;
    }
    
    
    .contact_button span {
      display: block;
      text-align: center;
      position: absolute;
      font-size: 18px;
      padding: 7.5px 0;
      width: 100%;
      z-index: 1;
    }
    
     .contact_button span:hover {
        color: #3e85ff;
    }



footer {
    clear: both;
    width: 100%;
    display: block;
    margin-top: 100px;
    height: 100px;
   background: linear-gradient(45deg, #6cb8ff, #bdeefe, #bdfee0,#d2bdfe);   
   animation: AnimationName 9s ease infinite;
   background-size: 300% 300%;
   
}


#footerInner {
    width: 401px;
    margin-right: auto;
    margin-left: auto;   
}





#footerInner p {
    text-align: center;
    padding-top: 48px;
    color: #222;
}
}  
    
    
    
    
    
